.btn-default {
  font-family:'Mathilde';
  font-size: 50px;
  margin-right: auto;
  margin-left: auto;
}
.div nav {
  font-family: 'Mathilde';
}
.jumbotron h1 {
  color: blue;
  font-family: 'Neou';
  font-size: 48px;
}
.jumbotron p {
  font-family: 'Mathilde';
  font-size: 48px;
  align-self: center;
}
