.container {
  text-align: center;
}
.btn-default {
  font-family:'Mathilde';
  font-size: 50px;
}
.jumbotron {
  margin-bottom: 0px;
  background-image: url(../images/index.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-shadow: blue 0.3em 0.3em 0.3em;
}
.jumbotron h1 {
  font-family: 'Neou';
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 23px;
  border: 3px solid #ffffff
}
.jumbotron p {
  font-family: 'Mathilde';
  font-size: 60px;
}
.hours h3 {
  font-family: 'Mathilde';
  font-size: 65px;
  padding-top: 10px;
  padding-bottom: 23px;
  color: blue;
}
.hours p {
  font-family: 'Neou';
  font-size: 30px;
}
