.container {
  text-align: center;
}
.btn-default {
  font-family:'Mathilde';
  font-size: 50px;
}
.jumbotron h1 {
  font-family: 'Neou';
  font-size: 50px;
}
.jumbotron p {
  font-family: 'Mathilde';
  font-size: 60px;
}
.hours h3 {
  font-family: 'Mathilde';
  font-size: 65px;
}
.hours p {
  font-family: 'Neou';
  font-size: 30px;
}
.items {
  font-family: 'Neou';
}
.prices {
  font-family: 'Mathilde';
}
.table-hover {
  text-align: center;
}
